<html>
    <head>
        <title>
            CPE028 Developing Applications
        </title>
        <link rel="stylesheet" href="/static/style.css">
        <body>
            <h1>
                Container-based Infrastrature Deployment
            </h1>
            <p>
               Container deployment is using the server or cloud 
               environment services used to deploy, manage, and monitor the
               underlying infrastructure that containers run on.
            </p>
        </body>
    </head>
</html>